@charset "UTF-8";
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hearts {
  position: relative;
}

.hearts .heart-icone-empty {
  position: absolute;
  top: 0;
  left: 0;
}

.hearts .heart-icone-colored {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hearts:active,
.hearts:hover > .heart-icone-colored {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.hearts:active,
.hearts:hover > .heart-icone-empty {
  opacity: 0;
}

@-webkit-keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes starters-article {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes starters-article {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

#loading-spinner {
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-right: 10px solid #99E2D0;
  border-left: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  -webkit-animation: loading-spinner 1s linear;
  animation: loading-spinner 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#page {
  -webkit-animation-name: page;
          animation-name: page;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#main-content {
  max-width: 1400px;
  margin: 0 auto;
}

#presentation-button {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

#presentation-button a {
  border-radius: 30px;
  padding: 14px 0 14px 0;
}

#presentation-button a p {
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
  color: white;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  font-weight: 300;
  margin: auto;
  width: 200px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.425) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.425) 0px 10px 10px;
}

#presentation-button a p:hover, #presentation-button a p:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.678) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.678) 0px 10px 10px;
  opacity: 0.9;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/*HEADER*/
#logo {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /*Fleche de revenir en arriere des autres pages*/
}

#logo .arrow-go-back {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#logo :first-child {
  color: black;
}

#logo h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: "Shrikhand", cursive;
  color: black;
  text-align: center;
}

#search-bar {
  text-align: center;
  background-color: #f3f3f3;
  padding: 15px;
}

#search-bar i {
  margin-right: 10px;
}

#search-bar span {
  font-size: 16px;
  font-weight: 700;
  background-color: #f3f3f3;
  padding: 10px 0 10px 0;
}

#presentation {
  padding-top: 30px;
}

#presentation h2 {
  margin: auto;
  width: 70%;
  text-align: center;
  font-weight: 900;
}

#presentation p {
  padding: 10px 0 0 0;
  font-weight: 300;
  margin: auto;
  width: 80%;
  text-align: center;
}

#site-operation {
  padding: 15px 15px 35px 15px;
}

#site-operation h2 {
  margin: 30px 0 10px 0;
  font-weight: 900;
}

#site-operation li {
  font-weight: 500;
  background-color: #F7F1FF;
  border-radius: 15px;
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: silver 2px 2px 2px;
          box-shadow: silver 2px 2px 2px;
}

#site-operation li:hover,
#site-operation li a:active {
  background-color: #F5EDFF;
}

#site-operation li span {
  background-color: #9356dc;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-left: -10px;
  color: white;
}

#site-operation li .operation-icons {
  margin: 0 20px 0 20px;
  color: #9356dc;
}

#restaurants-section {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

#restaurants-section h2 {
  padding-top: 40px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-weight: 900;
}

#restaurants-section .restaurants-article {
  margin: 0 15px 15px 15px;
}

#restaurants-section .restaurants-article a {
  color: black;
}

#restaurants-section .restaurants-article img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
}

#restaurants-section .restaurants-article .restaurants-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: silver 2px 2px 2px;
          box-shadow: silver 2px 2px 2px;
  background-color: white;
  margin-top: -2px;
  padding: 10px 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

#restaurants-section .restaurants-article a {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

#restaurants-section .restaurants-article a .restaurant-description-text h3 {
  font-weight: 900;
}

#restaurants-section .restaurants-article a .restaurant-description-text p {
  margin-top: 5px;
  font-weight: 300;
}

#restaurants-section .restaurants-article .hearts {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

#restaurants-section .restaurants-article .hearts .heart-icone-empty {
  font-size: 30px;
}

#restaurants-section .restaurants-article .hearts .heart-icone-colored {
  font-size: 30px;
}

#footer {
  background-color: #2D2A2A;
  color: white;
  padding: 10px 0 25px 25px;
  line-height: 25px;
  font-weight: 500;
}

#footer a {
  color: white;
  font-size: 16px;
}

#footer a p {
  padding: 10px 0 10px 0;
  font-family: "Shrikhand", cursive;
}

#footer .footer-icons {
  margin-right: 10px;
  width: 20px;
  font-size: 13px;
}

/***************************************/
/*Restaurant 1 - La palette du goût  PAGE*/
#content-restaurants-pages img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  margin-bottom: -100px;
}

#content-restaurants-pages #menu {
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}

#content-restaurants-pages #menu #title-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

#content-restaurants-pages #menu #title-restaurants h2 {
  padding-left: 20px;
  font-family: "Shrikhand", cursive;
}

#content-restaurants-pages #menu #title-restaurants .hearts {
  width: 30px;
  height: 30px;
  padding-right: 30px;
}

#content-restaurants-pages #menu #title-restaurants .hearts .heart-icone-empty {
  font-size: 25px;
}

#content-restaurants-pages #menu #title-restaurants .hearts .heart-icone-colored {
  font-size: 25px;
}

#content-restaurants-pages #menu .starters-section {
  padding: 0 15px 30px 15px;
}

#content-restaurants-pages #menu .starters-section #starters-section-container h3 {
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 300;
  position: relative;
  padding-bottom: 10px;
}

#content-restaurants-pages #menu .starters-section #starters-section-container h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article {
  background-color: white;
  padding: 15px 35px 15px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-animation: starters-article 1s;
          animation: starters-article 1s;
  position: relative;
  overflow: hidden;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:nth-child(1) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:nth-child(2) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article h4,
#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article .phrase-menu {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 93%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article .price {
  font-weight: 900;
  font-size: 14px;
  text-align: right;
  margin-top: -27px;
  margin-left: 10px;
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article h4 {
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 16px;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article .phrase-menu {
  margin-right: 5px;
  padding-bottom: 10px;
  font-weight: 100;
  font-size: 14px;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article .selected-icon {
  position: absolute;
  right: -20%;
  top: 0;
  bottom: 0;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border-radius: 0 15px 15px 0;
  -webkit-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article .selected-icon i {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:hover .selected-icon, #content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:active .selected-icon {
  right: 0;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:hover .selected-icon i, #content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:active .selected-icon i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:hover h4,
#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:hover .phrase-menu, #content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:active h4,
#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:active .phrase-menu {
  width: 68%;
}

#content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:hover .price, #content-restaurants-pages #menu .starters-section #starters-section-container .starters-article:active .price {
  width: 75%;
}

@media all and (min-width: 760px) and (max-width: 1023px) {
  #restaurants-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants-section h2 {
    margin: auto;
    width: 90%;
    margin-bottom: 40px;
  }
  #restaurants-section .restaurants-article {
    width: 40%;
    margin-bottom: 40px;
  }
  #restaurants-section .restaurants-article img {
    width: 100%;
  }
  #title-restaurants {
    margin: auto;
    width: 43%;
  }
}

@media all and (min-width: 1024px) {
  #site-operation ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #site-operation ol li {
    width: 30%;
  }
  #restaurants-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants-section h2 {
    margin: auto;
    width: 90%;
    margin-bottom: 40px;
  }
  #restaurants-section .restaurants-article {
    width: 40%;
    margin-bottom: 40px;
  }
  #restaurants-section .restaurants-article img {
    width: 100%;
  }
  #content-restaurants-pages img {
    height: 500px;
  }
  #title-restaurants {
    margin: auto;
    width: 25%;
  }
  #starters-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #starters-section-container h3 {
    width: 100%;
  }
  #starters-section-container .starters-section-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #starters-section-container .starters-article {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */